<html>
  <body>
  	{% if events %}
    	<h1>Events added</h1>
    {% else %}
    	<h1>No events added</h1>	
  	{% endif %}
    <table>
	    {% for event in events %}
	    <tr>
	    	<td>ID: {{event.id}}</td>
	    	<td> Start: {{event.start}} </td> 
	    	<td>End: {{event.end}}</td>
	    </tr>
	    {% endfor %}
  	</table>
  	{% if errors %}
    	<h1>Errors</h1>
  	{% endif %}
  	<table>
  	{% for error in errors %}
	    <tr>
	    	<td>{{error}}</td>
	    </tr>
	{% endfor %}
  	</table>
  </body>
</html>